# All available hooks: https://pre-commit.com/hooks.html
# R specific hooks: https://github.com/lorenzwalthert/precommit
default_stages: ["commit"]
repos:
-   repo: https://github.com/lorenzwalthert/precommit
    rev: a632da39a23e806f06261ebf0cf294e1b70428f2
    hooks: 
    -   id: style-files
        args: [--style_pkg=styler, --style_fun=tidyverse_style]
        exclude: > 
          (?x)^(
          tests/testthat/in/.*\.R|
          renv/.*
          )$
    -   id: roxygenize
        additional_dependencies:
        -    desc@1.3.0
        -    digest@0.6.27
        -    docopt@0.7.1
        -    fs@1.5.0
        -    git2r@0.28.0
        -    glue@1.4.2
        -    here@1.0.1
        -    knitr@1.33
        -    lintr@2.0.1
        -    magrittr@2.0.1
        -    mockery@0.4.2
        -    pkgload@1.2.1
        -    purrr@0.3.4
        -    R.cache@0.15.0
        -    reticulate@1.20
        -    rlang@0.4.11
        -    r-lib/pkgapi@35226e9
        -    rmarkdown@2.8
        -    roxygen2@7.1.1
        -    rprojroot@2.0.2
        -    rstudioapi@0.13
        -    spelling@2.2
        -    styler@1.4.1
        -    testthat@3.0.2
        -    tibble@3.1.1
        -    usethis@2.0.1
        -    withr@2.4.2
        -    yaml@2.2.1    # codemeta must be above use-tidy-description when both are used
    # -   id: codemeta-description-updated
    -   id: use-tidy-description
    -   id: spell-check
        exclude: >
          (?x)^(
          .*\.[rR]|
          .*\.feather|
          .*\.jpeg|
          .*\.pdf|
          .*\.png|
          .*\.py|
          .*\.RData|
          .*\.rds|
          .*\.Rds|
          .*\.Rproj|
          .*\.sh|
          (.*/|)\.gitignore|
          (.*/|)\.pre-commit-.*|
          (.*/|)\.Rbuildignore|
          (.*/|)\.Renviron|
          (.*/|)\.Rprofile|
          (.*/|)\.travis\.yml|
          (.*/|)appveyor\.yml|
          (.*/|)NAMESPACE|
          (.*/|)renv/settings\.dcf|
          (.*/|)renv\.lock|
          (.*/|)WORDLIST|
          \.github/workflows/.*|
          data/.*|
          inst/bin/.*|
          inst/pre-commit-.*|
          )$
    -   id: readme-rmd-rendered
    -   id: parsable-R
    -   id: no-browser-statement
    -   id: deps-in-desc
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 11a996eec600aa64d1cc12859d9bffbc6422836c
    hooks: 
    -   id: check-added-large-files
    -   id: end-of-file-fixer
        exclude: '\.Rd' # sometimes roxygen fails to generate EOF blank line.
-   repo: local
    hooks:
    -   id: consistent-release-tag
        name: consistent-release-tag
        entry: inst/consistent-release-tag
        language: script
        stages: [commit, push]
    -   id: hooks-config-to-inst
        name: hooks-config-to-inst
        entry: inst/hooks-config-to-inst
        language: script
        stages: [commit, push]
    -   id: spell-check-exclude-to-config
        name: spell-check-exclude-to-config
        entry: inst/spell-check-exclude-to-config
        language: script
        stages: [commit, push]
    -   id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .Rdata, .csv and similar.
        language: fail
        files: '\.Rhistory|\.csv|\.RData|\.Rds|\.rds$'
        # `exclude: <regex>` to allow committing specific files.
    -   id: spell-check-ordered-exclude
        name: Ordered regex pattern for spell-check exclusion
        description: Ensure alphabetical order in `exclude:` key of spell check.
        entry: inst/spell-check-ordered-exclude.R
        language: script
        files: '^(.*/|)\.?pre-commit-config.*\.yaml$'
