repos:
-   repo: https://github.com/lorenzwalthert/pre-commit-hooks
    rev: v0.0.0.9001
    hooks: 
    -   id: devtools-document
    -   id: styler-style-files
    -   id: usethis-use-tidy-description
