name: Continuous Benchmarks (Receive)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      # Directories with source code and benchmarking code
      - "inst/**"
      - "R/**"
      - "src/**"
      - "touchstone/**"
      # Benchmarking config file
      - ".github/workflows/touchstone-*.yaml"
      # Package metadata
      - DESCRIPTION

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      config: ${{ steps.read_touchstone_config.outputs.config }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: read_touchstone_config
        run: |
          content=`cat ./touchstone/config.json`
          # the following lines are only required for multi line json
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          # end of optional handling for multi line json
          echo "::set-output name=config::$content"
  build:
    needs: prepare
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - ${{ fromJson(needs.prepare.outputs.config) }}
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: lorenzwalthert/touchstone/actions/receive@main
        with:
          cache-version: 1
          benchmarking_repo: ${{ matrix.config.benchmarking_repo }}
          benchmarking_ref: ${{ matrix.config.benchmarking_ref }}
          benchmarking_path: ${{ matrix.config.benchmarking_path }}
